body{
    font-family: "Lexend";
    background-color:#001f08;
    color:#b1dbe2;
}
.navbar-fixed-top{
    position:sticky;
    top:0;
    z-index:100;
}
.important{
    color:#d7f4ff;
    text-align:center;
    padding: 15px;
}
.large-green{
    color:#5DAE37;
    padding: 0px 20px 10px 20px;
}
.info{
    color:#b1dbe2;
    font-weight:lighter;
    padding: 0px 30px;
}
.job{
    color:#799da3;
    font-weight:bold;
    padding:0px 25px;
}
.container{
    margin:auto;
    padding:25px;
    width:60%
}
.container2{
    display:inline-block;
    margin:auto;
    padding:25px;
    width:45%;
}
img.split{
    width:30%;
    float:right;
    margin:0px 50px;
}
.center{
    text-align:center;
}
.active{
    color:#498580
}

a:link,a:visited{
    text-decoration:none;
    color:rgb(255, 255, 255);
}
.link-decor:link,.link-decor:visited{
    text-decoration:underline;
    color:rgb(105, 200, 255);
}
a.disabled{
    color:gray;
    cursor:default;
}

button{
    background-color:#505081;
    color: #b1dbe2;
}

/*These are for the home introduction*/
#hide{
    overflow:hidden;
}
#fade-in{
    filter:opacity(0);
    transition: filter 1s;
}
#fade-in2{
    transform:translateY(2500px);
    transition: transform 1s;
}
#fade-in3{
    transform:rotateY(90deg);
    transition: transform 1s;
}
#fade_carousel{
    transform:rotateX(90deg);
    transition: transform 1s;
}
.down{
    transform:translateY(-60px);
    transition: transform 1s;
}
/*Credit to David DeSandro for the 3D Carousel. Thank you*/
* { box-sizing: border-box; }
.scene {
  margin: 40px 0;
  position: relative;
  width: 525px;
  height: 350px;
  margin: 80px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-241px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 505px;
  height: 330px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 310px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
}
/*This uses the "nth-child" selector and change each cell to their specific style*/

.carousel__cell:nth-child(5n+1) { background-image: linear-gradient(#48872B,#113f11 ); }
.carousel__cell:nth-child(5n+2) { background-image: linear-gradient(white, black); color:#FFF; }
.carousel__cell:nth-child(5n+3) { background-image: linear-gradient(to bottom right,#505081,#0F0E47); }
.carousel__cell:nth-child(5n+4) { background-image: linear-gradient(hsl(192, 98%, 35%), hsl(192, 100%, 15%)); }
.carousel__cell:nth-child(5n+0) { background-image: linear-gradient(#b1dbe2, #2d524f); }
.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(361px); }
.carousel__cell:nth-child(2) { transform: rotateY( 72deg) translateZ(361px); }
.carousel__cell:nth-child(3) { transform: rotateY( 144deg) translateZ(361px); }
.carousel__cell:nth-child(4) { transform: rotateY( 216deg) translateZ(361px); }
.carousel__cell:nth-child(5) { transform: rotateY(288deg) translateZ(361px); }

 