body{
    font-family: "Lexend";
    background-color:black;
    color:rgb(170,170,170);
}
.important{
    color:#dddddd;
    text-align:center;
}
.container{
    margin:auto;
    padding:25px;
    width:60%
}
.carousel-item{
    width:150px;
    height:100px;
    background-color:blue;
    text-align:center;
}
